@page "/AddEmp"
@using System.IO.Pipelines;
@inject IAddEmployeeUseCase addemp
@using Microsoft.AspNetCore.Hosting;
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using System.IO;
@using System.Threading.Tasks;
@inject IConfiguration Config

<h3>Add Employee</h3>
<br />
<EditForm Model="employee"
          class="row gy-2 gx-3 align-items-center m-4"
          method="post"
          enctype="multipart/form-data "
          OnInvalidSubmit="Saveemp">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>
    <div class="form-group col-sm-2">
        <label for="Title">Title</label>
        <InputSelect class="form-select"
                     id="Title"
                     @bind-Value="employee.Title">
            @foreach (var s in titleitems)
            {
                <option value=@s @onselect="() => employee.Title = s ">@s</option>
            }
        </InputSelect>
    </div>


    <div class="form-group col-sm-5">
        <label for="FirstName">First Name</label>
        <InputText id="FirstName"
                   class="form-control"
                   @bind-Value="employee.FirstName">
        </InputText>
    </div>
    <div class="form-group col-sm-5">
        <label for="LastName">Last Name</label>
        <InputText id="LasttName"
                   class="form-control"
                   @bind-Value="employee.LastName">
        </InputText>
    </div>
    <div class="form-group col-12">
        <label for="Address">Address</label>
        <InputTextArea id="Address"
                       class="form-control"
                       @bind-Value="employee.Address">
        </InputTextArea>
    </div>
    <div class="form-group col-6">
        <label for="City">City</label>
        <InputText id="City"
                   class="form-control"
                   @bind-Value="employee.City">
        </InputText>
    </div>

    <div class="form-group col-sm-6">
        <label for="Country">Country</label>
        <InputText id="Country"
                   class="form-control"
                   @bind-Value="employee.Country">
        </InputText>
    </div>
    <div class="form-group col-sm-6">
        <label for="Region">Region</label>
        <InputText id="Region"
                   class="form-control"
                   @bind-Value="employee.Region">
        </InputText>
    </div>
    <div class="form-group col-sm-6">
        <label for="PsotalCode">Postal Code</label>
        <InputText id="postalcode"
                   class="form-control"
                   @bind-Value="employee.PostalCode">
        </InputText>
    </div>
    <div class="form-group col-sm-6">
        <label for="Telphone">Telphone No</label>
        <InputText id="Telphone"
                   class="form-control"
                   @bind-Value="employee.Phone">
        </InputText>
    </div>
    <div class="form-group col-sm-3">
        <label for="UserName">UserName</label>
        <InputText id="UserName"
                   class="form-control"
                   @bind-Value="employee.UserName">
        </InputText>
    </div>
    <div class="form-group col-sm-3">
        <label for="userPass">User Password</label>
        <InputText type="password" id="userPass"
                   class="form-control"
                   @bind-Value="employee.UserPassword">
        </InputText>
    </div>
    <div class="form-group col-sm-3">
        <label for="bod">Birth Date</label>
        <InputDate FormatString="dd-MM-yyyy" id="bod"
                   class="form-control"
                   @bind-Value="employee.Dop">
        </InputDate>
    </div>
    <div class="form-group col-sm-3">
        <label for="ImgUrl">User Image</label>
        <InputFile OnChange="loadfile" id="ImgUrl"
                   class="form-control"
                   accept=".jpg,.png,.bmp,.gif">
        </InputFile>
        <img src="imgsrc" class="rounded mx-auto d-block" alt="">
    </div>

    <div class="card" style="width: 20rem;height:-moz-fit-content">
        <img src=@employee.ImageUrl class="card-img-top" width="50" hight="50" alt="">
        <div class="card-body">
            <h5 class="card-title" style="font-weight:900"> @employee.Title @employee.FirstName @employee.LastName</h5>
            @if (!string.IsNullOrWhiteSpace(employee.Address))
            {
                <p class="card-text float-xxl-end">@employee.Address,@employee.City,@employee.Country</p>
            }
        </div>
        @*        <a href="#" class="btn btn-primary">View Details</a>
        *@
    </div>

    <div class="form-group col-sm-3">
        <label for="Bassal">Basic Salary</label>
        <InputNumber  id="Bassal"
                   class="form-control"
                   @bind-Value="employee.BasicSalary" @onblur="salcalc">

        </InputNumber>
    </div>
    <div class="form-group col-sm-3">
        <label for="Extrasal">Extra Salary</label>
        <InputNumber  id="Extrasal"
                     class="form-control"
                     @bind-Value="employee.ExtraSalary" @onblur="salcalc">
        </InputNumber>
    </div>
    <div class="form-group col-sm-3">
        <label for="Tota">Total Allowences</label>
        <InputNumber id="Tota"
                     class="form-control"
                     @bind-Value="employee.TotalAllowences" @onblur="salcalc">
        </InputNumber>
    </div>
    <div class="form-group col-sm-3">
        <label for="GrsSal"style="font-weight:300">Gross Salary: @employee.GrossSalary  </label>
  </div>
    <div class="form-group col-sm-3">
        <label for="Totd">Total Deduction</label>
        <InputNumber id="Totd"
                     class="form-control"
                     @bind-Value="employee.TotalDeductions" @onblur="salcalc">
        </InputNumber>
    </div>
    <div class="form-group col-sm-6">
        <label for="GrsSal" style="font-weight:600">Net Salary: @employee.NetSalary  </label>
    </div>
    <div class="form-check col-sm-6">
        <input class="form-check-input" type="checkbox"  id="flexCheckDefault" @bind-value="employee.Admin">
        <label class="form-check-label" for="flexCheckDefault">
            Assing as Admin
        </label>
        <br />
    </div>

    <br />
    <br />
    <div class="co-sm-4">
        <button class="btn btn-primary" type="submit">Save Employee</button>
    </div>
</EditForm>

@code {
    private Employee employee = new Employee();
    public string imgsrc { get; set; } = string.Empty;
    private long maxfilsize = 1024 * 1024 * 3;
    private List<string> titleitems = new List<string>()
    {
     {"Mr."},
     {"Miss."},
     {"Mrs"}
    };
    private void Saveemp()
    {

    }
    private async void loadfile(InputFileChangeEventArgs er)
    {
        var fileext = Path.GetExtension(er.File.Name);
        var imageFile = await er.File.RequestImageFileAsync("image/" + fileext, maxWidth: 1024, maxHeight: 1024);
        string newfilename = Path.ChangeExtension($"{employee.FirstName}_{employee.LastName}",
        Path.GetExtension(er.File.Name));
        Directory.CreateDirectory($"wwwroot\\Images\\{employee.UserName}\\");
        using (FileStream fs = new($"wwwroot\\Images\\{employee.UserName}\\{newfilename}", FileMode.Create))
        {
            await imageFile.OpenReadStream(maxfilsize).CopyToAsync(fs);
            employee.ImageUrl = $"Images/{employee.UserName}/{newfilename}";
            this.StateHasChanged();
        }
    }
    private void salcalc()
    {
        var bassal = employee.BasicSalary;
        var extrasal = employee.ExtraSalary;
        var tota = employee.TotalAllowences;
        employee.GrossSalary = bassal + extrasal + tota;
        var totd = employee.TotalDeductions;
        employee.NetSalary = employee.GrossSalary - totd;


    }

    //private Task xloadf(InputFileChangeEventArgs er)
    //{
    //    var sd = Path.GetFileName(er.File.Name);
    //    employee.ImageUrl = sd;
    //    return employee. ;
    //}
}
